@font-face {
    font-family: Jockey;
    src:url(JockeyOne-Regular.otf)
}

body {
    margin: 0;
    font-family: Jockey !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: normal;
    word-spacing: normal;
    background-color: #bababa;
}